@font-face {
    font-family: "knockout-sumo";
    src: url(media/knockout-sumo-font.woff);
}
* {
box-sizing: border-box;
font-family: "knockout-sumo", Arial, Helvetica, sans-serif;

}

body {
margin: 0px;
background-color: #1e1e1e;
}

nav {
    z-index: 100;
    position: fixed;
    width: 100%;
}
nav, footer{
    display: flex;
    justify-content: space-between;
    background-color: #d7d7d6;
    height: 75px;
    align-items: center;

}

video {
    margin-top: 75px;
    width: 100%;
}

.logo {
    margin-left: 20px;
}

button {
    cursor: pointer;
    z-index: 999;
    border-radius: 15px;
    background-color: black;
    color: white;
    font-size: 12px;
    border: none;
    margin-right: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
}





.top-menu, .redes-icons {
    
    border: 0px;
    display: flex;
    justify-content: space-evenly
}


.top-menu, .redes-icons li {
    list-style: none;
}
a {
    border: 0px;
    margin: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: lighter;



}



button:hover {
    font-weight: bold;
}

footer {
    height: 50px;
    background-color: #1e1e1e;
    color: white;
    padding: 0px;
    margin-top: 0px;
    font-size: 12px;
    text-transform: uppercase;

}
nav a {
    color: black ;
    margin: 10px;
}

footer a {
    color: white;
}

.hamburger  {
    display: none;
}

@media screen and (max-width: 768px) {
    
    .top-menu {
        display: none;
    }
    .sideral {
        visibility: hidden;
    }

    .hamburger {
        display: block;
    }
 
}

a:hover {
 font-weight: bold;
}

.line {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 5px 0;
  }



    
.dropdown {
    z-index: 50;
    position: absolute;
    color: black;    
    background-color: #d7d7d6;
    padding-bottom: 10px;

}



.dropdown ul {
 display: block;
 margin-left: 0px;
 margin-top: 20px;
 
 padding-right: 30px;
 
}

.dropdown li {
    padding: 7px;
    list-style: disc;
}

.dropdown a {
margin: 0px 0px 0px 0px;
color: black;
}


.hamburger {
    margin-right: 10px;
    position: relative;
}

.hamburger-menu {
    display: none;
    position: absolute;
    top: 42px;
    right: 0px;
    padding: 1ch;
    background-color: #d7d7d6;
    z-index: -1;


}

.hamburger-menu  li {
    padding: 10px;
}

.redes-icon {
    display: flex;
}

